{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Editer le bien{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron">
        <h2>Editer le bien "{{ property.title }}"</h2>
        {{ include ('admin/property/_form.html.twig', {form: form, button: 'Editer'}) }}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
    
{% endblock %}