{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Bienvenue{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Bienvenue chez Open Agency !</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repudiandae natus, sapiente id a unde. Repellat quaerat necessitatibus quia, explicabo amet assumenda itaque facilis quod sequi vitae alias aliquid at?</p>
    </div>
    <div class="container">
        <div class="row flex">
            {% for property in properties %}
                <div class="col-md-4">
                        {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
