{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} nouvelle option{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron">
        <h2>Créer une nouvelle optionn</h2>
        {{ include ('admin/option/_form.html.twig', {form: form, button: 'Créer'}) }}

{% endblock %}